<!DOCTYPE html>
<html>
<head>
  <title>Swordfish</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :head %>
</head>
<body class="<%= Rails.env %>">
  <%= yield %>
</body>
</html>
