<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Swordfish</title>
  <%= stylesheet_link_tag    :application, :media => "all" %>
  <%= javascript_include_tag :application, :ui %>
  <%= yield :head %>
</head>
<body class="<%= Rails.env %>" data-swordfish-disable>
  <%= yield %>
</body>
</html>
